body {
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  padding: 0;
  background-color: var(--light-bg);
}


nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 10px;
}


.show {
  display: block;
}

.nav-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-section.center{
  flex-grow: 1;
  justify-content: center;
}

nav h1 {
  margin: 0;
  font-size: 50px;
}

.nav-section > ul {
  list-style: none;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row; 
  gap: 20px;
  align-items: center;
  justify-content: flex-end; 
}

.nav-section > ul > li {
  display: flex; 
  align-items: center; 
}


.nav-button {
  box-sizing: border-box;
  margin: 0;
  border: 2px solid transparent; 
  background: var(--light-accent);
  cursor: pointer;
  text-decoration: none;
  color: var(--light-text);
  transition: all 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease; 
  position: relative; 
  padding: 1em;
  z-index: 1; 
}

.nav-button:hover {
  background: var(--light-card);
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}



#banner {
  background-image: url("images/Banner.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  color: var(--light-card);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner h2 {
  margin: 0;
  padding: 10px;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: rgba(0, 0, 0, 0.2) 10px 10px 4px;
}

#search-input {
  padding: 10px;
  width: 35%;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
#search-input:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.5);
}

.recipe {
  background-color: var(--light-bg);
  margin-inline: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.recipe img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.recipe h2 {
  font-size: 16px;
  margin-bottom: 10px;
  overflow: hidden;

  text-shadow: rgba(0, 0, 0, 0.2) 10px 10px 4px;
}


.recipe p {
  font-size: 16px;
  margin-bottom: 20px;
}

.recipe button {
  background-color: #50b3a2;
  color: var(--light-text);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 1em;
  text-align: center;
  user-select: none;
}

.recipe button:hover {
  background-color: #338977;
  color: var(--light-text);
}

#results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0 20px;
}

#results-title {
  font-size: 24px;
  padding: 20px;
}

/* Tab-list styling */
.nav-tabs {
  display: flex; 
  justify-content: space-between;
}

.nav-item {
  flex-grow: 1; 
  text-align: center; 
}


/* Style the tab buttons */
.nav-link {
  flex-grow: 1;
  padding: 1rem 2rem;
  font-size: 3rem; 
  border: 1px solid transparent; 
  width: 100%;
}


/*for the saved.html portion*/
#saved-recipes {
  background-color: var(--light-bg);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0 20px;
}



:root {
  --light-bg: #f4f4f4;
  --dark-bg: #121212;
  --light-text: #121212;
  --dark-text: #f4f4f4;
  --light-card: rgb(255, 254, 254);
  --dark-card: #2c2c2c;
  --light-accent: rgb(136, 131, 131);
  --dark-accent: #767676;
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body.dark-mode #saved-recipes{
  background-color: var(--dark-bg);
}
body.dark-mode .nav-button,
body.dark-mode .nav-tabs .nav-item .nav-link {
  background: var(--dark-accent);
  color: var(--dark-text);
}

body.dark-mode .nav-tabs .nav-item .nav-link:hover,
body.dark-mode .nav-tabs .nav-item .nav-link.active {
  background-color: var(--dark-card);
  color: var(--dark-text);
}

body.dark-mode nav input,
body.dark-mode nav button,
body.dark-mode nav a {
  background: var(--dark-accent);
  color: var(--dark-text);
}

body.dark-mode #banner {
  background-image: url("images/Dark-banner.png"); 
}
body.dark-mode .recipe {
  background-color: var(--dark-card);
}

body.dark-mode .recipe button {
  background-color: #125244;
  color: var(--dark-text);
}

body.dark-mode .recipe button:hover {
  background-color: #2f8572;
  color: var(--dark-text);
}